a {
	color: #B91919;
	text-decoration:none!important;
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus, 
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #B91919;
}